## 원리금 균등 상환(Equal repayment of principal and interest)

```
매월 상환액 같음 = 이자 점점 감소, 원금 점점 증가
(원금균등에 비해) 총 상환액 많음, 첫 상환액 적음(초기 상환 부담 적음)
```

In [1]:
import pandas as pd

In [2]:
#---------------- 대출 액, 이자율, 상환 기간, 월별 소득 입력--------------------
principal = 50000000  # 대출 액
interest_rate = 5  # 연간 이자율

months = 24  # 상환 기간(개월)
monthly_income = 4166667  # 월소득
#-------------------------------------------------------------------------------


def equal_principal_interest(principal, interest_rate, months, monthly_income):
    monthly_interest_rate = interest_rate / 12 / 100 # 연간 이자율 -> 월간 이자율
    monthly_payment = principal * (monthly_interest_rate * (1 + monthly_interest_rate)**months) / ((1 + monthly_interest_rate)**months - 1)
    # 월 상환액 = 원금 * (월 이자율 * (1+월 이자율)**기간) / ((1+월 이자율)**기간 -1)
    amortization_schedule = [] # 변제 일정.결과 저장할 리스트 초기화
    remaining_balance = principal # 잔여 대출액
    DTI = 0

    for month in range(1, months +1):
        monthly_interest = remaining_balance * monthly_interest_rate # 월 이자 = 남은 대출액 * 월 이자율
        monthly_principal = monthly_payment - monthly_interest # 원금 = 월 상환액 - 월 이자
        remaining_balance -= monthly_principal # 남은 대출액 = 남은 대출액 - 원금
        amortization_schedule.append({
            '회차': month,
            '월 납부액': int(monthly_payment),
            '원금': int(monthly_principal),
            '이자': int(monthly_interest),
            '잔액': int(remaining_balance)
        })
    return amortization_schedule


amortization_schedule = equal_principal_interest(principal, interest_rate, months, monthly_income)
amortization_df = pd.DataFrame(amortization_schedule, columns=['회차', '월 납부액', '원금', '이자', '잔액'])
DTI = round(((amortization_df['월 납부액'].iloc[:12].sum())/(monthly_income * 12)) * 100, 2)
# DTI : (연 원리금상환액([:12]) / 연소득) * 100

print('DTI=', DTI,'%')
print()
print('총 납부액:', amortization_df['월 납부액'].sum())
print('총 이자:', amortization_df['이자'].sum())
print()
amortization_df

DTI= 52.65 %

총 납부액: 52645656
총 이자: 2645653

    회차    월 납부액       원금      이자        잔액
0    1  2193569  1985236  208333  48014763
1    2  2193569  1993507  200061  46021255
2    3  2193569  2001814  191755  44019441
3    4  2193569  2010155  183414  42009286
4    5  2193569  2018530  175038  39990755
5    6  2193569  2026941  166628  37963814
6    7  2193569  2035386  158182  35928427
7    8  2193569  2043867  149701  33884559
8    9  2193569  2052383  141185  31832175
9   10  2193569  2060935  132634  29771240
10  11  2193569  2069522  124046  27701717
11  12  2193569  2078145  115423  25623572
12  13  2193569  2086804  106764  23536767
13  14  2193569  2095499   98069  21441267
14  15  2193569  2104230   89338  19337037
15  16  2193569  2112998   80570  17224038
16  17  2193569  2121802   71766  15102235
17  18  2193569  2130643   62925  12971592
18  19  2193569  2139521   54048  10832071
19  20  2193569  2148435   45133   8683635
20  21  2193569  2157387   36181   6526247
21  22  2193569  2166376   27192   4359870
22  23  2193569  2175403   18166   2184467
23  24  2193569  2184467    9101         0